git+https://github.com/adsabs/ADSPipelineMsg.git@v1.0.1
ConcurrentLogHandler==0.9.1
python-dateutil==2.6.0
DateTime==4.1.1
celery==4.1.0
SQLAlchemy==1.1.6
python-json-logger==0.1.8
unidecode==0.04.21
